name: build

on:
  push:
    branches:
      - master
    tags:
      - "v*"
    paths-ignore:
      - "**.md"
  pull_request:
    branches:
      - "*"
    tags:
      - "*"
    paths-ignore:
      - "**.md"

jobs:
  multi-os:
    runs-on: ${{ matrix.os }}

    defaults:
      run:
        shell: bash

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Checkout to vrelease
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: MacOS pre-build steps
        run: |
          gem install bundler
          brew install upx
        if: ${{ matrix.os == 'macos-latest' }}

      - name: Windows pre-build steps
        run: |
          choco install upx
        if: ${{ matrix.os == 'windows-latest' }}

      - name: Setup Nim
        uses: jiro4989/setup-nim-action@v2
        with:
          nim-version: '2.2.6'

      - name: Refresh package list
        run: nimble refresh

      - name: Compile vrelease
        run: make release

      - name: Run tests
        run: make tests

      - name: After build run (unix)
        if: ${{ matrix.os != 'windows-latest' }}
        run: |
          ./vrelease --version
          ./vrelease --help

      - name: After build run (windows)
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          ./vrelease.exe --version
          ./vrelease.exe --help

      - name: Rename artifact
        run: |
          if [ "${{ matrix.os }}" = "ubuntu-latest" ]; then
            ARTIFACT="vrelease-${GITHUB_SHA}-linux"
            mv vrelease "$ARTIFACT"
          fi

          if [ "${{ matrix.os }}" = "macos-latest" ]; then
            ARTIFACT="vrelease-${GITHUB_SHA}-macos"
            mv vrelease "$ARTIFACT"
          fi

          if [ "${{ matrix.os }}" = "windows-latest" ]; then
            ARTIFACT="vrelease-${GITHUB_SHA}-windows.exe"
            mv vrelease.exe "$ARTIFACT"
          fi

          ls -lash
          echo "ARTIFACT=$ARTIFACT" >> "$GITHUB_ENV"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: "${{ env.ARTIFACT }}"
          path: "${{ env.ARTIFACT }}"
          retention-days: 1

  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout to vrelease
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Build image
        run: docker build -t vrelease .

      - name: After build run
        run: |
          docker run --rm vrelease --version
          docker run --rm vrelease --help
